<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react-video-website</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script>

    </script>
</head>
<body>
<div class="header-div">
    <div class="blur"></div>
    <header class="header-expand relative">
        <div class="left-icon"><a><div class="header-icon"></div><span>React Movie Website</span></a></div>
        <div class="right-bars"><i class="fa fa-bars"></i></div>
        <div class="search-bar"><div class="inputDiv"><input/><i class="fa fa-search"></i></div></div>
    </header>
    <div class="outside-menu">
        <ul>
            <li><a><i class="fa fa-upload"></i><span>上传</span></a></li>
            <li><a><i class="fa fa-film"></i><span>转码</span></a></li>
            <li><a><i class="fa fa-chevron-right"></i><span>登陆</span></a></li>
            <li><a><i class="fa fa-chevron-right"></i><span>登出</span></a></li>
        </ul>
    </div>
</div>
<div class="left-menu">
    <div class="relative">
        <ul>
            <li><a><i class="fa fa-chevron-right"></i><span>Media</span></a></li>
            <li><a><i class="fa fa-chevron-right"></i><span>Music</span></a></li>
            <li><a><i class="fa fa-chevron-right"></i><span>Articles</span></a></li>
            <li><a><i class="fa fa-chevron-right"></i><span>UserProfile</span></a></li>
        </ul>
    </div>
    <div class="closeLeft"></div>
</div>
<div class="right-menu">
    <div class="relative scollor">
        <div class="flex-box">
            <div class="flex-item-box">
                <a href="playVideo.html">
                    <div></div>
                    <img src="https://z-video.oss-cn-shenzhen.aliyuncs.com/pv1/pv1-1.jpeg"/>
                    <span><h6>手绘</h6><article></article></span>
                </a>
            </div>
            <div class="flex-item-box">
                <a>
                    <div></div>
                    <img src="https://z-video.oss-cn-shenzhen.aliyuncs.com/apple/apple-1.jpeg"/>
                    <span><h6>动漫</h6><article></article></span>
                </a>
            </div>
            <div class="flex-item-box">
                <a>
                    <div></div>
                    <img src="https://z-video.oss-cn-shenzhen.aliyuncs.com/title1/title1-1.jpeg"/>
                    <span><h6>青空呐喊</h6><article></article></span>
                </a>
            </div>
            <div class="flex-item-box">
                <div></div>
                <img src="http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/c75c10385343fbf2b365cf2db67eca8065388f76.jpg"/>
                <span><h6>动漫播放————30年京阿尼的进化之路 feat.Kyoto Animation</h6><article></article></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>